.wrapper {
  padding: 1rem;
}

.wrapper h1 {
  font-family: 'Montserrat Bold', sans-serif;
  font-size: 3.75rem;
}

.punk {
  max-width: 300px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .wrapper h1 {
    font-size: 5rem;
    margin-left: 2rem;
  }

  .punk {
    max-width: none;
    margin: auto;
  }
}

@media (min-width: 1024px) {
  .wrapper {
    padding: 2rem;
  }

  .wrapper h1 {
    font-size: 6rem;
  }
}
